#dashboard-container {
 border: 1px solid #0dc18e;
 box-shadow: 0 0 0 0.7rem rgba(16, 194, 144, 0.45);
}

.btn {
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: #47d770;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.active {
  padding: 10px 20px;
  border: none;
  background-color: #47d770;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}